<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chicle&family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/logo.ico" type="image/x-icon" />
    <title>Mi Mimbrería</title>
</head>
<body>
    <header>
        <div class="nav-principal">
            <div class="logo">
                <img src="/img/logo.jpg" alt="Logo de Mi Mimbrería">
                <div class="info">
                    <h1 class="logo-texto">Mimimbrería</h1>
                </div>
            </div>
            <div class="usuarios">
                <input type="search" id="search" placeholder="Buscar..." />
                <i class="fas fa-search"></i>
                <i class="fas fa-user"></i>
                <i class="fas fa-shopping-cart"></i>
            </div>
        </div>
        <div class="nav-secundario">
            <div>
                <a class="btn-categorias" href="#">
                    <div class="categorias-imagen">
                        <img src="/img/btn_canastos.png" alt="Canastos">
                    </div>
                    <div class="categorias-texto">
                        <span>Canastos</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="btn-categorias" href="#">
                    <div class="categorias-imagen">
                        <img src="/img/btn_pantallas.png" alt="Pantallas">
                    </div>
                    <div class="categorias-texto">
                        <span>Pantallas</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="btn-categorias" href="#">
                    <div class="categorias-imagen">
                        <img src="/img/btn_sillones.png" alt="Sillones">
                    </div>
                    <div class="categorias-texto">
                        <span>Sillones</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="btn-categorias" href="#">
                    <div class="categorias-imagen">
                        <img src="/img/btn_mesas.png" alt="Mesas">
                    </div>
                    <div class="categorias-texto">
                        <span>Mesas</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="btn-categorias" href="#">
                    <div class="categorias-imagen">
                        <img src="/img/btn_infantiles.png" alt="Infantiles">
                    </div>
                    <div class="categorias-texto">
                        <span>Infantiles</span>
                    </div>
                </a>
            </div>
            <div>
                <a class="btn-categorias" href="#">
                    <div class="categorias-imagen">
                        <img src="/img/btn_sillas.png" alt="Sillas">
                    </div>
                    <div class="categorias-texto">
                        <span>Sillas</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
            <h1>Formulario de registro</h1>
    </main>
    </footer>
    <div class="footer-info">
        <div class="footer-info-ayuda">Ayuda</div>
        <div class="footer-info-empresa">Mimimbrería © 2023</div>
        <div class="footer-info-contacto">Contacto</div>
    </div>
</body>
</html>