*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* Navegación principal */
.nav-principal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.logo{
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-texto{
    margin-top:0;
    color: brown;
    font-family: 'Chicle', cursive;
    font-size: 40px;
    font-weight: 500;
}

.usuarios{
    display: none;
}

/* Navegación de categorías */
.nav-secundario{
    display: none;
}

.burger-menu{
    margin: auto;
    font-size: 30px;
    display: block;
    max-width: 50px;
    background-color: white;
    color: brown;
    text-align: center;
    border-radius: 5px;
}

/* Área dinámica para muestra de */
main{
    display: flex;
    width: 85%;
    flex-direction: column;
    margin: auto;
    padding: 5px;
}

h1{
    color: black;
    font-weight: 400;
}

.novedades-productos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productos{
    max-width: 270px;
    margin: auto;
}

.productos-imagen{
    margin: auto;
    text-align: center;
}

/* Estilos para mobile del footer */
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

footer .footer-menu-titulo, .footer-productos-titulo, .footer-descubri-titulo, .footer-redes-titulo{
    font-size: 20px;
    color: brown;
    font-weight: 400;
}

footer .footer-menu-links, .footer-productos-links, .footer-descubri-links, .footer-redes-links{
    font-size: 15px;
    font-weight: 200;
}

.footer-ubicacion{
    margin: auto;
    padding: 10px;
}

.footer-info{
    display: none;
}

/* Estilos para visualización en PC */
@media only screen and (min-width: 769px) {
    header{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

    .nav-principal{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .logo{
        display: flex;
        flex-direction: row;
        margin: 10px;
        align-items: baseline;
    }

    .usuarios{
        display: flex;
        flex-direction: row;
        font-size: 25px;
        color: brown;
        align-items: baseline;
    }

    .usuarios i{
        padding: 10px;
    }

    .burger-menu{
        display: none;
    }

    .nav-secundario{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 5px;
        height: 130px;
        margin-bottom: 5px;
    }

    .btn-categorias{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: brown;
    }

    .categorias-texto{
        padding: 0px;
        font-size: 20px;
        color: black;
        font-weight: 400;
    }

    main{
        display: flex;
        width: 95%;
        flex-direction: column;
        margin: auto;
    }

    .novedades-productos, .ofertas-productos{
        display: flex;
        flex-direction: row;
    }

    .productos{
        max-width: 250px;
    }

    .productos-imagen{
        text-align: center;
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        margin: auto;
    }
    
    footer .footer-menu-titulo, .footer-productos-titulo, .footer-descubri-titulo, .footer-redes-titulo{
        font-size: 25px;
        color: brown;
        font-weight: 400;
    }
    
    footer .footer-menu-links, .footer-productos-links, .footer-descubri-links, .footer-redes-links{
        font-size: 15px;
        font-weight: 200;
    }
    
    .footer-ubicacion{
        display: flex;
        flex-direction: row;
        margin: 20px;

    }
    
    .footer-info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 20px;
        color: brown;
        font-size: 15px;
    }
}